@import "../sass/config.scss";
@import "../../sass/_loading.scss";
@import "../sass/Header-Menu.scss";
@import "../sass/menus.scss";
@import "../../sass/footer.scss";
@import "../sass/responsiv-menu.scss";
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}